.custom-button {
  padding: 8px 20px 8px 20px;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
}
