.sidebar-hotel-info-container * {
  display: flex;
}
.sidebar-hotel-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sidebar-hotel-more-icon,
.sidebar-hotel-image {
  justify-content: center;
  align-items: center;
}

.sidebar-hotel-header-text {
  margin: 0;
  padding: 10px 0 10px 0;
  line-height: 15px !important;
}

.sidebar-hotel-more-icon {
  padding: 0 20px 0 20px;
}

.sidebar-hotel-data-container {
  flex-direction: column;
  flex-grow: 1;
  padding-left: 25px;
  justify-content: center;
  line-height: 0.7em;
  font-family: "Poppins", serif;
}

.sidebar-hotel-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.sidebar-hotel-data-container > .custom-button {
  background-color: transparent !important;
  padding: 0;
}

.more-info-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.sidebar-hotel-location-text {
  color: #e1e1e2;
  font-weight: bolder;
  color: gray;
}
.sidebar-hotel-rating-text {
  padding-top: 5px;
  color: red;
  font-weight: bolder;
}
