.hotel-info-container,
.hotel-preview-header,
.button-div {
  display: flex;
}

.hotel-info-container {
  flex-direction: column;
  border: none;
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
  width: 320px;
  height: 450px;
}

.hotel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hotel-preview-header {
  font-size: 20px;
  font-weight: bolder;
  height: 60px;
  text-overflow-ellipsis: true;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hotel-data-container {
  padding: 20px 30px 25px 40px;
}

.button-div {
  flex-direction: row;
}

.custom-button {
  margin-right: 20px;
}
