.navbar-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 30px 60px 0 60px;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  margin-right: 60px;
}

.sign-in-button {
  background-color: #ff00ff;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 30px;
  padding: 0 20px 0 20px;
  width: 120px;
  margin: 0 80px 0 30px;
  height: 50px;
  border: none;
}

.chat-icon-div{
  width: 50px;
  height: 50px;
  background-color: #f7f7fb;
  border-radius: 50%;

}

.chat-icon {
  width: 100%;
  padding: 15px;
  border: #dfe1e5;
}
