.single-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 15px;
}

.single-image-icon {
  width: 35px;
  padding: 0 10px 0 10px;
  color: gray;
}

.single-item-text {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}
