.navigation-bar {
  margin: 0 200px 0 200px;
  width: 40vw;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px 0 40px;
}

.second-section-container {
  margin: 0 20px 0 20px;
  background-color: #f7f7fb;
  border: #f7f7fb 1px solid;
  border-radius: 100px;
}
