.navigation-bar {
  margin: 0 200px 0 200px;
  width: 40vw;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-section-container {
  margin: 0 30px 0 30px;
  background-color: #f7f7fb;
  border: #f7f7fb 1px solid;
  border-radius: 100px;
}
