.result-section-container {
  margin: 60px 30px 0 30px;
  background-color: #f7f7fb;
  border: #f7f7fb 1px solid;
  border-radius: 120px;
  display: grid;
  padding: 60px 40px 40px 40px;
}

.column-1-result {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding-right: 30px;
}

.column-2-result {
  grid-column: 2 / 5;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hotels-header {
  font-family: "Poppins", sans-serif;
}
